<div class="sms">
  <div class="div-block-3">
    <img src="assets/info.png" width="150" height="150" alt="">
    <p style="margin: 40px 0; color: #7c7979;">Estamos analisando suas informações</p>

    <div class="wrapper1">
    <div class="wrapper">
      <div class="loader">
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
        <span class="loader-block"></span>
      </div>
    </div>
    </div>
  </div>
</div>
