.termo {
  text-align: center;
  margin-top: 30px;
  padding: 20px 40px;

  .botao {
    width: 250px;
    background: #256299;
    transition: background-color 0.3ms ease;
    margin-top: 40px;
    padding: 5px 0;
    border-radius: 60px;

    &.success {
      background: #45CB85;
    }
  }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #256299 !important;
}
